
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.widget-container{
  margin: 5px;
  background: #FEFEFE;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 2px 0px rgb(220, 220, 220);
  box-shadow:  0px 1px 2px 0px rgb(220, 220, 220);
}

.widget-container .top-bar{
  font-size: 20px;
  line-height: 20px;
  background: #FFF;
  color: #7A7A79;
  border: 1px solid #E2E2E2;
  padding: 5px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.widget-container .top-bar .title, .widget-container .top-bar .actions{

  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.widget-container .top-bar .title{
  width: 90%;
}

.widget-container .actions{

  display: inline-block;
}

.widget-container .top-bar .collapse-btn img{

  height: auto;
  width: 13px;
  border-radius: 10px;
  border: 1px solid #EEE;
  padding: 7px;
  -webkit-box-shadow: 0px 1px 2px 0px rgb(120, 120, 120);
  box-shadow:  0px 1px 2px 0px rgb(120, 120, 120);
}
.widget-container .top-bar .collapse-btn img:hover{

  -webkit-box-shadow: 0px 2px 4px 0px rgb(220, 220, 220);
  box-shadow:  0px 2px 4px 0px rgb(220, 220, 220);
}
.widget-container .top-bar .title img{
  padding-right: 10px;
  max-height: 20px;
  vertical-align: middle;
}



.widget-container .toolbar > div{
  display: inline-block;
  font-size: 12px;
  width: 49%;

}
.widget-container .toolbar{
  margin: 5px;
}
.widget-container .toolbar .sort{
  text-align: right;
}
.widget-container .toolbar span.sort-btn.selected{
  font-weight: bold;
}
.widget-container .toolbar span.sort-btn:hover{
  text-decoration: underline;
}

.widget-container .toolbar{
  font-size: 11px;
  color: #333;
}
.widget-container #wrapper{
  position: relative;
  overflow: hidden;
  max-height: 260px;
  margin-top: 45px;
}
.widget-container .results{
  padding: 5px;

}
.widget-container .results .result{
  margin-bottom: 5px;
}
.widget-container .results .container{
  margin-top: 5px;
  margin-bottom: 5px;
}

.widget-container  .result-label a:link, .widget-container .result-label a:visited, .widget-container .result-label a:active{

  text-decoration: none;
  color: #444;
  font-size: 12px;
  letter-spacing: 0.010em;
  line-height: 1.6em;
}

.widget-container .results .title a:link, .widget-container .results .title a:visited, .widget-container .results .title a:active{

  text-decoration: none;
  color: #050505;
  font-size: 14px;
  letter-spacing: 0.010em;
  line-height: 1.6em;
}
.widget-container .results .title a:hover{

  text-decoration: none !important;
  color: #999;
}
.widget-container .results .description{
  color: #999;
  font-size: 11px;
}

.widget-container .results .description .hilite{/*Orthographe fausse retournée par le serveur*/
  color: #82373c;
  font-weight: bold;
}

.widget-container .results .source, .widget-container .results .serie, .widget-container .results .date{
  font-size: 9px;
  font-weight: bold;
}
.widget-container .results .result .metadata > div{
  display: inline-block;
  width: 49%;
}
.widget-container .results .result .metadata > div.right{
  text-align: right;
}


.widget-container .collapsed{
  height: 0px;
  overflow: hidden;
}

.widget-container .error-label{
  color: #B40404;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px;
}
.widget-container .login-container{
  text-align: center;
  margin: auto;
}
.widget-container .login-form{
  width: 50%;
  background: #FEFEFE;
  display: inline-block;
  text-align: left;
  margin: 10px;
}
.widget-container .connect-label{
  padding: 5px;
  font-weight: bold;
}
.widget-container .login-form label{
  display: inline-block;
  width: 35%;
}
.widget-container .login-form input{
  display: inline-block;
  width: 60%;
}
.widget-container .login-form .submit{
  text-align: center;
}
.widget-container .login-form .send-connect{
  width: 60%;
  padding: 3px;
  margin: 5px;
}
.widget-container .filters-parent{
  position: absolute;
  overflow-x: hidden;
  width: 100%;
  z-index: 100;
}


.widget-container .filters-container{
  display: inline-block;
  width: 79%;
  white-space: nowrap;
  overflow-x: hidden;
}

.widget-container .filters-wrapper > ul{
  left:0;
  position: relative;
}
.widget-container .btn{
  width: 8%;
  height: 33px;
  margin-top: 2px;
  background: #3299BB;
  display: inline-block;
  z-index: 2;
  vertical-align: top;

  text-align: center;
  font-size: 22px;
  color: #FFF;
  line-height: 35px;
  -webkit-box-shadow: 0px 2px 4px 0px rgb(220, 220, 220);
  box-shadow:  0px 2px 4px 0px rgb(220, 220, 220);
  border-radius: 2px;


}
.widget-container .btn:hover{
  background: #3299BB;
  -webkit-box-shadow: 0px 1px 2px 0px rgb(200, 200, 200);
  box-shadow:  0px 1px 2px 0px rgb(200, 200, 200);
}

.widget-container .filters-container .filters .filter-name{

  border: 1px solid #3299BB;
  background: #3299BB;
  margin: 2px;
  margin-bottom: 0;
  padding: 8px;
  color: #FFF;
  -webkit-box-shadow: 0px 2px 4px 0px rgb(220, 220, 220);
  box-shadow:  0px 2px 4px 0px rgb(220, 220, 220);
  border-radius: 2px;
}
.widget-container .filters-container .filters .filter-name[data-parent="none"]{
  display: inline-block;
}
.widget-container .filters-container .filters .filter-name:hover{
  background: #12799B;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 2px 0px rgb(200, 200, 200);
  box-shadow:  0px 1px 2px 0px rgb(200, 200, 200);
}
.widget-container .filters-container:hover{

  overflow: hidden;
}

.widget-container .filters-container .filters ul ul
{
	display:none;
	position:absolute;
	top: 100%;
	background:#fff;
	padding:0;
  margin: 0;
  z-index: 100000;
}

.widget-container .filters-container .filters ul ul li
{
	float:none;
  z-index: 10;
  margin: 0;

}


.widget-container .filters-container .filters ul ul ul
{
	top:0;
	left:100%
}

.widget-container .filters-container .filters ul li:hover > ul
{
	display:block
}


.widget-container .filter-reset{
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    width: 100px;
    padding: 3px;
}
.widget-container .filter-reset:hover{
  text-decoration: underline;

}
.widget-container .loader{
  display: none;
  text-align: center;
  width: 32px;
  height: 32px;
  margin: auto;
  padding: 15px;
}
.widget-container .more-results{
  text-align: right;
  padding: 5px;
}
.widget-container .more-results a:link, .widget-container .more-results a:visited, .widget-container .more-results a:active{

  color: #000;
}
