

.widget-container{
  margin: 5px;
  background: #FEFEFE;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}

.widget-container .top-bar{
  font-size: 20px;
  line-height: 20px;
  background: #FFF;
  color: #7A7A79;
  border: 1px solid #7A7A79;
  padding: 5px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.widget-container .top-bar .title, .widget-container .top-bar .actions{

  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.widget-container .top-bar .title{
  width: 90%;
}

.widget-container .actions{

  display: inline-block;
}

.widget-container .top-bar .collapse-btn img{
  max-width: 22px;
  height: auto;
}
.widget-container .top-bar .title img{
  padding-right: 10px;
  max-height: 20px;
  vertical-align: middle;
}



.widget-container .toolbar > div{
  display: inline-block;
  font-size: 12px;
  width: 49%;

}
.widget-container .toolbar{
  margin: 5px;
}
.widget-container .toolbar .sort{
  text-align: right;
}
.widget-container .toolbar span.sort-btn.selected{
  font-weight: bold;
}
.widget-container .toolbar span.sort-btn:hover{
  text-decoration: underline;
}

.widget-container .toolbar{
  font-size: 11px;
  color: #333;
}
.widget-container #wrapper{
  position: relative;
  overflow: hidden;
  max-height: 350px;
}
.widget-container .results{
  padding: 5px;
}
.widget-container .results .result{
  margin-bottom: 25px;
}
.widget-container .results .container{
  margin-top: 5px;
  margin-bottom: 5px;
}
.widget-container .results .title a:link, .widget-container .results .title a:visited, .widget-container .results .title a:active{
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.widget-container .results .title a:hover{
  color: #333;
  text-decoration: none;
}
.widget-container .results .description{
  color: #999;
  font-size: 11px;
}

.widget-container .results .description .hilite{/*Orthographe fausse retournée par le serveur*/
  color: #82373c;
  font-weight: bold;
}

.widget-container .results .source, .widget-container .results .serie, .widget-container .results .date{
  font-size: 9px;
  font-weight: bold;
}
.widget-container .results .result .metadata > div{
  display: inline-block;
  width: 49%;
}
.widget-container .results .result .metadata > div.right{
  text-align: right;
}


.widget-container .collapsed{
  height: 0px;
  overflow: hidden;
}

.widget-container .error-label{
  color: #B40404;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px;
}
.widget-container .login-container{
  text-align: center;
  margin: auto;
}
.widget-container .login-form{
  width: 50%;
  background: #FEFEFE;
  display: inline-block;
  text-align: left;
  margin: 10px;
}
.widget-container .connect-label{
  padding: 5px;
  font-weight: bold;
}
.widget-container .login-form label{
  display: inline-block;
  width: 35%;
}
.widget-container .login-form input{
  display: inline-block;
  width: 60%;
}
.widget-container .login-form .submit{
  text-align: center;
}
.widget-container .login-form .send-connect{
  width: 60%;
  padding: 3px;
  margin: 5px;
}
.widget-container .filters-container{
  width: 7000px;
}
.widget-container .filters-container .filters-wrapper{
  margin-left: 29px;
}

.widget-container .btn{
  width: 27px;
  height: 27px;
  background: #7390B6;
  display: inline-block;
  z-index: 2;
  vertical-align: top;
  top: 64px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  line-height: 27px;
}
.widget-container .btn:hover{
  background: #6380A6;
}
.widget-container .left-btn{
  top: 64px;
  left: 14px;
  position: absolute;
  z-index: 11;
}
.widget-container .right-btn{
  position: absolute;
  top: 64px;
  right: 2px;
  z-index: 11;
}
.widget-container .filters-container{
  position: relative;
  z-index: 10;
}
.widget-container .filters-container .filters .filter-name{

  border: 1px solid #AEAEAE;
  background: #436096;
  margin: 2px;
  margin-bottom: 0;
  padding: 5px;
  color: #FFF;
}
.widget-container .filters-container .filters .filter-name[data-parent="none"]{
  display: inline-block;
}
.widget-container .filters-container .filters .filter-name:hover{
  background: #234076;
  cursor: pointer;
}
.widget-container .filters-container .filters ul ul
{
	display:none;
	position:absolute;
	top:100%;
	background:#fff;
	padding:0;
  margin: 0;
  z-index: 100000;
}

.widget-container .filters-container .filters ul ul li
{
	float:none;
  z-index: 10;
  margin: 0;

}


.widget-container .filters-container .filters ul ul ul
{
	top:0;
	left:100%
}

.widget-container .filters-container .filters ul li:hover > ul
{
	display:block
}


.widget-container .filter-reset{
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    width: 100px;
    padding: 3px;
}
.widget-container .filter-reset:hover{
  text-decoration: underline;

}
.widget-container .loader{
  display: none;
  text-align: center;
  width: 32px;
  height: 32px;
  margin: auto;
}
.widget-container .more-results{
  text-align: right;
  padding: 5px;
}
.widget-container .more-results a:link, .widget-container .more-results a:visited, .widget-container .more-results a:active{

  color: #000;
}
