<script id="widgetTemplate" type="text/template">
<div class="widget-container <%= className %>">
  <div class="widget">
    <div class="top-bar">
        <div class="title">
          <span class="helper"></span>
          <img src="<%= logo %>" alt="">
          <%= title %>
        </div>
        <% if (!error.logged && !error.loggin_failed) { %>
          <div class="actions">
            <div class="show">
              <% if (compress == 1) { %>
                <div class="collapse-btn" data-compress="0"><img src="<%= getImageUrl('close') %>" alt=""></div>
              <% } %>
              <!--<% if (compress == 2) { %>
                <span class="collapse-btn" data-compress="2">complet</span>
              <% } %>-->

              <% if (compress == 0) {  %>
                <div class="collapse-btn" data-compress="1"><img src="<%= getImageUrl('open') %>" alt=""></div>
              <% } %>

            </div>

          </div>
        <% } %>
    </div>
    <div class="content <% if (compress == 0 && !error.logged && !error.https) { %>collapsed<% } %>">
      <div class="loader"><img src="<%= getImageUrl('loader', 'gif') %>" alt=""></div>
      <% if (error.logged || error.loggin_failed) { %>
        <% if (error.loggin_failed) { %><span class="error-label">Erreur lors de la connection, veuillez reessayer</span><% } %>
        <div class="login-container  hidden-loading">
          <div class="connect-label">Veuillez vous connecter au service pour voir les résultats</div>
          <form class="login-form" method="GET" >
            <div class="form-group">
              <label for="ident">Identifiant</label><input type="text" id="ident" name="ident">
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label><input type="password" name="password" id="password">
            </div>
            <div class="form-group submit">
              <input type="button" name="name" value="Connexion" class="send-connect">
            </div>

          </form>
        </div>

      <% } %>
      <% if (!error.logged && !error.loggin_failed && !error.no_result && !error.request_failed) { %>


        <div class="toolbar hidden-loading">
          <div class="result-label">

            <% if (fullResultUrl.length) { %>
              <a target="_blank" href="<%= fullResultUrl %>">Liste des résultats ELS</a>
            <% } %>

          </div>
          <div class="sort">
            <span>Tri par </span>
            <span class="sort-btn sort-date <% if (sortBy == 'date') { %>selected<% } %>">date</span>
            |
            <span class="sort-btn sort-revelance <% if (sortBy == 'revelance') { %>selected<% } %>">pertinence</span>
          </div>

        </div>
        <div class="filters-parent  hidden-loading">
          <div class="btn left-btn noselect disabled"> < </div>
          <div class="filters-container">

            <div class="filters-wrapper filters">

            </div>


          </div>
          <div class="btn right-btn noselect"> > </div>
        </div>


        <div class="wrapper-results">

          <div class="results hidden-loading">

          </div>

        </div>
        <div class="more-results hidden-loading">
          Plus de résultats >
        </div>
      <% } %>
      <% if (error.no_result) { %><span class="error-label">Aucun résultat n'a été trouvé</span><% } %>
      <% if (error.request_failed) { %><span class="error-label">Une erreur est survenue, veuillez reessayer ultérieurement.</span><% } %>
    </div>
  </div>
</div>
</script>



<script id="resultTemplate" type="text/template">
	<div class="result">
		<div class="title"><a target="_blank" href="<%= item.url %>"><%= item.title %></a></div>

      <div class="description"><%= item.brief %></div>

		<div class="metadata">
			<% if (item.source.length || item.serie.length) { %>
        <div class="left"><span class="source"><%= item.source %></span>
        <% if (item.source.length && item.serie.length) { %>-<% } %>
        <span class="serie"><%= item.serie %></span></div>
      <% } %>
			<div class="right date" <% if (!item.source.length && !item.serie.length) { %>style="text-align: left"<% } %>><%= item.fdate %></div>
		</div>
	</div>
</script>


<script id="filterTemplate" type="text/template">
		<li class="filter-name name" id="<%= fid %>" data-name="<%= attr %>" data-parent="<%= parent %>"><%= item.name %> <!--(<%= item.nb %>)--><!-- volontairement non fermé pour insérer les sous filtres-->
</script>
