<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Getting Started Extension's Popup</title>
    <link rel="stylesheet" href="../styles/css/app.css" charset="utf-8">

    <script src="../scripts/jquery.js" charset="utf-8"></script>
  </head>
  <body>
    <ul class="matieres">
      <li class="matiere"></li>
    </ul>
    <script src="../scripts/popup.js" charset="utf-8"></script>
  </body>
</html>
